@model Models.UniversalVehicleData
@{
    var VehicleData = new Models.GenericVehicle<Models.VehicleTypeDefinitions.RacingCar>(Model).Data;

}

<div>

    <h1>@Model.VehicleName</h1>
    <h2>Registration: @Model.RegistrationNumber</h2>
    <h2>Type: @Model.VehicleType.ToString()</h2>


    <table>
        <tbody>
            <tr>
                <th>Engine</th>
                <td>@VehicleData.Engine</td>
            </tr>
            <tr>
                <th>PowerOutput</th>
                <td>@VehicleData.PowerOutput</td>
            </tr>
            <tr>
                <th>Transmission</th>
                <td>@VehicleData.Transmission</td>
            </tr>
            <tr>
                <th>Wheelbase</th>
                <td>@VehicleData.Wheelbase</td>
            </tr>
            <tr>
                <th>Length</th>
                <td>@VehicleData.Length</td>
            </tr>
            <tr>
                <th>Width</th>
                <td>@VehicleData.Width</td>
            </tr>
            <tr>
                <th>Height</th>
                <td>@VehicleData.Height</td>
            </tr>
        </tbody>
    </table>


</div>